[Desktop Entry]
Name=CULTIC
Comment=Play this game on Steam
Exec=steam steam://rungameid/1684930
Icon=steam
Terminal=false
Type=Application
Categories=Game;
