[Desktop Entry]
Name=DOOM: The Dark Ages
Comment=Play this game on Steam
Exec=steam steam://rungameid/3017860
Icon=steam
Terminal=false
Type=Application
Categories=Game;
