[Desktop Entry]
Name=Mafia: Definitive Edition
Comment=Play this game on Steam
Exec=steam steam://rungameid/1030840
Icon=steam
Terminal=false
Type=Application
Categories=Game;
