[Desktop Entry]
Name=Sekiro™: Shadows Die Twice
Comment=Play this game on Steam
Exec=steam steam://rungameid/814380
Icon=steam
Terminal=false
Type=Application
Categories=Game;
