[Desktop Entry]
Name=System Shock
Comment=Play this game on Steam
Exec=steam steam://rungameid/482400
Icon=steam
Terminal=false
Type=Application
Categories=Game;
