[Desktop Entry]
Name=Warframe
Comment=Play this game on Steam
Exec=steam steam://rungameid/230410
Icon=steam
Terminal=false
Type=Application
Categories=Game;
