[Desktop Entry]
Name=Palworld
Comment=Play this game on Steam
Exec=steam steam://rungameid/1623730
Icon=steam_icon_1623730
Terminal=false
Type=Application
Categories=Steam;
