[Desktop Entry]
Name=SILENT HILL 2
Comment=Play this game on Steam
Exec=steam steam://rungameid/2124490
Icon=steam_icon_2124490
Terminal=false
Type=Application
Categories=Steam;
