[Desktop Entry]

Type=Application
Name=Localsend
Comment=File sharing over wifi
Exec=/home/john/Apps/localsend.AppImage
Icon=/home/john/Vault/icons/localsend.png
Terminal=false
Categories=Utility;
