[Desktop Entry]

Type=Application
Name=Prism Launcher
Comment=Minecraft launcher
Exec=/home/john/Apps/prismlauncher.AppImage
Icon=/home/john/Vault/icons/prism.png
Terminal=false
Categories=Game;
