[Desktop Entry]

Type=Application
Name=Wild Magic Table
Comment=Wild Magic Table
Exec=/home/john/Vault/my-apps/wild-magic
Icon=
Terminal=false
Categories=Utility;
