//======================================================================
//File: ~/.config/niri/niri-keybinds.kdl
//======================================================================

binds {
	// system binds
	Mod+Shift+Slash { show-hotkey-overlay; }
	Mod+Ctrl+Q repeat=false { close-window; }
	Mod+Ctrl+Delete { spawn-sh "~/Vault/scripts/niri/reset-ui.sh"; }
	Mod+P { spawn-sh "cliphist list | rofi -dmenu | cliphist decode | wl-copy"; }

	// applications
	Mod+Return hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
	Mod+Space hotkey-overlay-title="Open Launcher: rofi" { spawn-sh "rofi -show drun"; }
	Mod+E hotkey-overlay-title="Open File Manager: thunar" { spawn "thunar"; }
	Mod+Ctrl+E { spawn-sh "ghostty --class='com.me.floating' -e yazi"; }
	Mod+W hotkey-overlay-title="Open Web Browser: firefox" { spawn "firefox"; }
	Mod+Ctrl+W { spawn "firefox" "--private-window"; }

	// scripts
	XF86Explorer { spawn-sh "~/Vault/scripts/launchers/spotify.sh launch"; }
	Mod+I { spawn-sh "~/Vault/scripts/launchers/main-launcher.sh btop"; }
	Mod+N { spawn-sh "ghostty --class='com.me.floating' -e nvim $HOME/Dropbox/obsidian/notes/_quick.md"; }


	// media keys
	XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "swayosd-client --monitor DP-1 --output-volume +5"; }
	XF86AudioLowerVolume allow-when-locked=true { spawn-sh "swayosd-client --monitor DP-1 --output-volume -5"; }
	XF86AudioMute        allow-when-locked=true { spawn-sh "swayosd-client --monitor DP-1 --output-volume mute-toggle"; }

	XF86AudioPlay        allow-when-locked=true { spawn-sh "spotify_player playback play-pause"; }
	XF86AudioPrev        allow-when-locked=true { spawn-sh "spotify_player playback previous"; }
	XF86AudioNext        allow-when-locked=true { spawn-sh "spotify_player playback next"; }

	// Open/close the Overview: a zoomed-out view of workspaces and windows.
	// You can also move the mouse into the top-left hot corner,
	// or do a four-finger swipe up on a touchpad.
	// Mod+O { focus-monitor-next; }
	// Mod+O { spawn-sh "~/Vault/scripts/niri/swap.sh"; }
	Mod+Grave { spawn-sh "~/Vault/scripts/niri/swap.sh"; }
	Mod+o repeat=false { toggle-overview; }


	Mod+H     { focus-column-or-monitor-left; }
	Mod+J     { focus-window-down; }
	Mod+K     { focus-window-up; }
	Mod+L     { focus-column-or-monitor-right; }

	Mod+Ctrl+H     { move-column-left-or-to-monitor-left; }
	Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
	Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }
	Mod+Ctrl+L     { move-column-right-or-to-monitor-right; }

	// Alternative commands that move across workspaces when reaching
	// the first or last window in a column.
	// Mod+J     { focus-window-or-workspace-down; }
	// Mod+K     { focus-window-or-workspace-up; }
	// Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
	// Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

	Mod+Home { focus-column-first; }
	Mod+End  { focus-column-last; }
	Mod+Ctrl+Home { move-column-to-first; }
	Mod+Ctrl+End  { move-column-to-last; }

	Mod+Shift+Left  { focus-monitor-left; }
	Mod+Shift+Down  { focus-monitor-down; }
	Mod+Shift+Up    { focus-monitor-up; }
	Mod+Shift+Right { focus-monitor-right; }
	Mod+Shift+H     { focus-monitor-left; }
	Mod+Shift+L     { focus-monitor-right; }
	Mod+Shift+J     { focus-workspace-down; }
	Mod+Shift+K     { focus-workspace-up; }

	Mod+WheelScrollDown      { focus-column-right; }
	Mod+WheelScrollUp        { focus-column-left; }
	Mod+Ctrl+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
	Mod+Ctrl+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }

	Mod+1 { focus-workspace 1; }
	Mod+2 { focus-workspace 2; }
	Mod+3 { focus-workspace 3; }
	Mod+4 { focus-workspace 4; }
	Mod+5 { focus-workspace 5; }
	Mod+6 { focus-workspace 6; }
	Mod+7 { focus-workspace 7; }
	Mod+8 { focus-workspace 8; }
	Mod+9 { focus-workspace 9; }
	Mod+Ctrl+1 { move-column-to-workspace 1; }
	Mod+Ctrl+2 { move-column-to-workspace 2; }
	Mod+Ctrl+3 { move-column-to-workspace 3; }
	Mod+Ctrl+4 { move-column-to-workspace 4; }
	Mod+Ctrl+5 { move-column-to-workspace 5; }
	Mod+Ctrl+6 { move-column-to-workspace 6; }
	Mod+Ctrl+7 { move-column-to-workspace 7; }
	Mod+Ctrl+8 { move-column-to-workspace 8; }
	Mod+Ctrl+9 { move-column-to-workspace 9; }

	// Consume one window from the right to the bottom of the focused column.
	Mod+Comma  { consume-window-into-column; }
	// Expel the bottom window from the focused column to the right.
	Mod+Period { expel-window-from-column; }

	Mod+R { switch-preset-column-width; }
	Mod+Ctrl+T { set-column-width "627"; }
	// Cycling through the presets in reverse order is also possible.
	// Mod+R { switch-preset-column-width-back; }
	Mod+Shift+R { switch-preset-window-height; }
	Mod+Ctrl+R { reset-window-height; }
	Mod+F { maximize-column; }
	Mod+Ctrl+F { fullscreen-window; }

	// Expand the focused column to space not taken up by other fully visible columns.
	// Makes the column "fill the rest of the space".
	// Mod+Ctrl+F { expand-column-to-available-width; }

	Mod+C { center-column; }

	// Center all fully visible columns on screen.
	Mod+Ctrl+C { center-visible-columns; }

	// Finer width adjustments.
	// This command can also:
	// * set width in pixels: "1000"
	// * adjust width in pixels: "-5" or "+5"
	// * set width as a percentage of screen width: "25%"
	// * adjust width as a percentage of screen width: "-10%" or "+10%"
	// Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
	// set-column-width "100" will make the column occupy 200 physical screen pixels.
	Mod+Minus { set-column-width "-10%"; }
	Mod+Equal { set-column-width "+10%"; }

	// Finer height adjustments when in column with other windows.
	Mod+Shift+Minus { set-window-height "-10%"; }
	Mod+Shift+Equal { set-window-height "+10%"; }

	// Move the focused window between the floating and the tiling layout.
	Mod+S       { toggle-window-floating; }
	Mod+Ctrl+S  { switch-focus-between-floating-and-tiling; }

	// Toggle tabbed column display mode.
	// Windows in this column will appear as vertical tabs,
	// rather than stacked on top of each other.
	// Mod+W { toggle-column-tabbed-display; }

	// Actions to switch layouts.
	// Note: if you uncomment these, make sure you do NOT have
	// a matching layout switch hotkey configured in xkb options above.
	// Having both at once on the same hotkey will break the switching,
	// since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
	// Mod+Space       { switch-layout "next"; }
	// Mod+Shift+Space { switch-layout "prev"; }

	Print { screenshot; }
	Ctrl+Print { screenshot-screen; }
	Alt+Print { screenshot-window; }

	// Applications such as remote-desktop clients and software KVM switches may
	// request that niri stops processing the keyboard shortcuts defined here
	// so they may, for example, forward the key presses as-is to a remote machine.
	// It's a good idea to bind an escape hatch to toggle the inhibitor,
	// so a buggy application can't hold your session hostage.
	//
	// The allow-inhibiting=false property can be applied to other binds as well,
	// which ensures niri always processes them, even when an inhibitor is active.
	Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

	// The quit action will show a confirmation dialog to avoid accidental exits.
	// Mod+Shift+E { quit; }
	// Ctrl+Alt+Delete { quit; }

	// Powers off the monitors. To turn them back on, do any input like
	// moving the mouse or pressing any other key.
	// Mod+Shift+P { power-off-monitors; }
}
