//======================================================================
//File: ~/.config/niri/niri-window-rules.kdl
//======================================================================

window-rule {
	geometry-corner-radius 8
	clip-to-geometry true
	draw-border-with-background false
}

window-rule { 
	match app-id="ghostty"
	background-effect {
		xray true
		blur true
		noise 0.05
		saturation 1
	}
}

window-rule { // start full
	match app-id="gimp"
	default-column-width { proportion 1.0; }
}

window-rule { // start 2/3
	match app-id="ghostty"
	match app-id="firefox"
	match app-id="Spotify"
	match app-id="discord"
	match app-id="obsidian"
	match app-id="waypaper"
	match app-id="pcsx2-qt"
	match app-id="rpcs3"
	match app-id="steam" title="Steam"
	default-column-width { proportion 0.66667; }
}

window-rule { // start 1/3
	match app-id="steam" title="Friends List"
	default-column-width { proportion 0.33333; }
}

window-rule { // start floating
	match app-id="com.me.floating"
	match app-id="__wezterm_float"
	match app-id="__btop"
	match app-id="__spotify"
	match app-id="__lazygit"
	match app-id="__yazi"
	match app-id="__notes"
	match app-id="org.freedesktop.impl.portal.desktop.kde"
	open-floating true
	background-effect {
		xray true
		blur true
		noise 0.05
		saturation 1
	}
}

window-rule { // games
	match app-id="^steam_app$"
	open-on-output "DP-1"
	open-fullscreen true
}

window-rule { // game launching window
	match app-id=r#"steam_app_\d+"# 
	open-on-output "DP-1"
	open-fullscreen true 
}

window-rule {
	match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
	open-on-output "DP-1"
	default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
	match app-id="firefox" title="Mozilla Firefox Private Browsing"
	default-column-width { proportion 1.0; }
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}
