//#############################
//# ███╗░░██╗██╗██████╗░██╗ ###
//# ████╗░██║██║██╔══██╗██║ ###
//# ██╔██╗██║██║██████╔╝██║ ###
//# ██║╚████║██║██╔══██╗██║ ###
//# ██║░╚███║██║██║░░██║██║ ###
//# ╚═╝░░╚══╝╚═╝╚═╝░░╚═╝╚═╝ ###
//#############################

include "niri-startup.kdl"
include "niri-system.kdl"
include "niri-ui.kdl"
include "niri-window-rules.kdl"
include "niri-keybinds.kdl"
