// ======================================================================
// Config: Rofi
// File: ~/.config/rofi/config.rasi
// Platform: shared
// Link: https://github.com/davatorium/rofi
// ======================================================================


//@theme "/home/john/.config/rofi/themes/mytheme.rasi"

configuration {
	// remove needed binds
	kb-mode-complete: "";
	kb-remove-char-back: "BackSpace";
	kb-accept-entry: "Return,KP_Enter,Control+i";
	kb-remove-to-eol: "";

	kb-mode-next: "Control+l";
	kb-mode-previous: "Control+h";
	kb-row-up: "Up,Control+k";
	kb-row-down: "Down,Control+j";
}

@theme "/home/john/.config/rofi/themes/my-theme.rasi"
