* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Hack Nerd Font, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    color: #c8d3f5;
    /* background: rgba(0, 0, 0, 0); */
    background-color: #1a1b26;
    border-bottom: 2px solid #7aa2f7;
}

tooltip {
  background: #1a1b26;
  border: 1px solid #7aa2f7;
  border-radius: 5px;
}

tooltip label {
  color: #c8d3f5;
}

#workspaces button {
  color: #c8d3f5;
  padding: 2;
}

#workspaces button.active {
  color: #1a1b26;
  background: #7aa2f7;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#custom-power {
  color: #7aa2f7;
}

#idle_inhibitor {
  padding: 0 10px;
  color: #e0af68;
}

#custom-pacman,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mpd {
  padding: 0 10px;
  color: #7aa2f7;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* Right modules */

#pulseaudio.muted {
    color: red;
}

#battery.charging, #battery.plugged {
  color: green;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 8px;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    color: #f7758e;
    border-radius: 8px;
}

#temperature.critical {
    color: #f7758e;
}

#tray {
    background-color: #7aa2f7;
    color: #1a1b26;
    border-radius: 8px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    border-radius: 8px;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #f7758e;
    color: #1a1b26;
    border-radius: 8px;
}

#idle_inhibitor.activated {
    color: #f7758e;
}

#mpd {
    background-color: #7aa2f7;
    color: #1a1b26;
    border-radius: 8px;
}

#mpd.disconnected {
    background-color: #7aa2f7;
    color: #1a1b26;
    border-radius: 8px;
}

#mpd.stopped {
    background-color: #7aa2f7;
    color: #1a1b26;
    border-radius: 8px;
}

#mpd.paused {
    background-color: #7aa2f7;
    color: #1a1b26;
    border-radius: 8px;
}
