/*======================================================================
  Config: Swayosd
  File: ~/.config/swayosd/style.css
  Platform: shared
# Link: https://github.com/ErikReider/SwayOSD
  ======================================================================*/

:root {
	--background-color: #1e1e2e;
	--border-color: #45475a;
	--label: #89b4fa;
	--image: #89b4fa;
	--progress: #89b4fa;
}

window {
	border-radius: 8;
	opacity: 0.97;
	border: 2px solid var(--border-color);

	background-color: var(--background-color);
}

label {
	font-family: '0xProto Nerd Font';
	font-size: 11pt;

	color: var(--label);
}

image {
	color: var(--image);
}

progressbar {
	border-radius: 0;
}

progress {
	background-color: var(--progress);
}
