/* ======================================================================
 * Config: Waybar
 * File: style.css
 * Desc: islands
 * Platform: archbox
 *=====================================================================
*/
* {
  font-family: Firacode Nerd Font Propo, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

window#waybar {
	background: transparent;
}

tooltip {
  background: rgba(30,30,46,0.6);
  border: 1px solid #8aadf4;
  border-radius: 5px;
}

tooltip label {
  color: #cad3f5;
}

#workspaces {
	background: rgba(30,30,46,0.6);
  color: #8aadf4;
	/* border: 1px solid #24273a; */
  border-radius: 8px;
}

#workspaces button {
	transition: all 200ms ease-in-out;
  color: #8aadf4;
  padding: 2 8px;
  border-radius: 6px;
}

#workspaces button label {
  font-size: 18px;
}

#workspaces button.active {
	min-width: 50px;
  background: #8aadf4;
	color: #24273a;
}

#workspaces button.empty {
  color: #494d64;
}

#custom-divider {	
	color: #cad3f5;
	padding: 0 5px;
}

#left {
	background: rgba(30,30,46,0.6);
	color: #8aadf4;
	border-radius: 8;
	font-weight: bold;
	padding: 0 10px;
}

#clock,
#custom-files,
#custom-web,
#custom-obsidian,
#windowcount,
#tray,
#bluetooth {
	padding: 0 5px;
}

#right {
	background: rgba(30,30,46,0.6);
	color: #8aadf4;
	border-radius: 8;
	font-weight: bold;
	padding: 0 10px;
}

#custom-prev,
#custom-play,
#custom-next,
#pulseaudio,
#custom-pacman,
#custom-weather,
#idle_inhibitor,
#custom-notify,
#custom-power,
#temperature,
#custom-gpu,
#cpu,
#memory,
#disk {
	padding: 0 5px;
}

#pulseaudio.muted {
	color: #ed8796;
}

#idle_inhibitor.activated {
	color: #ed8796;
}

#custom-files:hover,
#custom-web:hover,
#custom-obsidian:hover,
#custom-prev:hover,
#custom-play:hover,
#custom-next:hover,
#pulseaudio:hover,
#custom-clip:hover,
#custom-picker:hover,
#bluetooth:hover,
#idle_inhibitor:hover,
#idle_inhibitor.activated:hover,
#custom-notify:hover,
#custom-power:hover {
	color: #cad3f5;
}
