/* ======================================================================
 * Config: Waybar
 * File: style.css
 * Desc: islands
 * Platform: archbox
 *=====================================================================
*/
* {
  font-family: Firacode Nerd Font Propo, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

window#waybar {
	background: transparent;
}

tooltip {
  background: rgb(26,27,38);
  border: 1px solid #7aa2f7;
  border-radius: 5px;
}

tooltip label {
  color: #a9b1d6;
}

#workspaces {
	background: rgba(26,27,38,0.6);
  color: #7aa2f7;
  border-radius: 8px;
}

#workspaces button {
	transition: all 200ms ease-in-out;
  /* color: red; */
  color: #7aa2f7;
  padding: 2 8px;
  border-radius: 6px;
}

#workspaces button label {
  font-size: 18px;
}

#workspaces button.empty {
  color: #787c99;
}

#workspaces button.active {
	min-width: 50px;
  background: #7aa2f7;
	color: #1a1b26;
}

#clock {
	background: rgba(26,27,38,0.6);
	color: #7aa2f7;
	border-radius: 8;
	padding: 2 10px;
	margin-left: 10px;
}

/* main screen */

#launchers {
	background: rgba(26,27,38,0.6);
	color: #7aa2f7;
	border-radius: 8;
	font-weight: bold;
	padding: 2 10px;
}

#custom-web {	
	padding: 2 10px;
}

#media {
	background: rgba(26,27,38,0.6);
	color: #7aa2f7;
	border-radius: 8;
	font-weight: bold;
	padding: 2 10px;
}

#custom-play {	
	padding: 2 10px;
}

#custom-layout {
	background: rgba(26,27,38,0.6);
	color: #7aa2f7;
	border-radius: 8;
	padding: 2 10px;
}

#windowcount,
#bluetooth,
#custom-clip,
#custom-picker,
#pulseaudio,
#idle_inhibitor,
#custom-notify {
	background: rgba(26,27,38,0.6);
	color: #7aa2f7;
	border-radius: 8;
	padding: 2 10px;
}

#pulseaudio.muted {
	color: #f7768e;
}

#idle_inhibitor.activated {
	color: #f7768e;
}

#custom-power {
	background: rgba(26,27,38,0.6);
	color: #7aa2f7;
	border-radius: 8;
	font-weight: bold;
	padding: 2 10px;
	margin-right: 10px;
}

#custom-files:hover,
#custom-web:hover,
#custom-obsidian:hover,
#custom-prev:hover,
#custom-play:hover,
#custom-next:hover,
#pulseaudio:hover,
#custom-clip:hover,
#custom-picker:hover,
#bluetooth:hover,
#idle_inhibitor:hover,
#idle_inhibitor.activated:hover,
#custom-notify:hover,
#custom-power:hover {
	color: #a9b1d6;
}

/* right screen */

#tray {
	background: rgba(26,27,38,0.6);
	color: #ffffff;
	border-radius: 8;
	padding: 2 10px;
}

#custom-pacman,
#temperature,
#custom-gpu,
#cpu,
#memory {
	background: rgba(26,27,38,0.6);
	color: #e0af68;
	border-radius: 8;
	padding: 2 10px;
}

#custom-weather {
	background: rgba(26,27,38,0.6);
	color: #7aa2f7;
	border-radius: 8;
	padding: 2 10px;
}

#storage {
	background: rgba(26,27,38,0.6);
	color: #e0af68;
	border-radius: 8;
	padding: 2 10px;
	margin-right: 10px;
}

#disk.games {
	padding: 2 10px;
}

#network {
	background: rgba(26,27,38,0.6);
	color: #f7768e;
	border-radius: 8;
	padding: 2 10px;
}
